<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <!-- <link href="/public/css/styles.css"  > -->
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="container ">
  <div class="flex h-full items-center justify-center w-full">
    <div class="jumbotron w-full flex flex-col items-center">
      
      <h2>User</h2>
    <h3><%= user.id %></h3>
    <h3><%= user.email %></h3>
</div>
  </div>

  <div class="col-sm-8">
          <h3>content</h3>
    <div class="w-full flex-col items-center justify-center">

        <ul class="w-full flex flex-wrap items-center jusify-center  gap-1">
      <% resp.forEach(function(res) { %>
        <li class="w-[90%]  bg-slate-700 rounded-lg text-lg flex flex-col items-center justify-center p-1">
          <strong><%= res.status %></strong>
          representing <%= res.data.content %>,
          born <%= res.imgurl %>
         <div class="w-full aspect-square">
          <img 
          class="w-full h-full"
        src="<%= res.data.imgurl %>" /></div>
        </li>
      <% }); %>
    </ul>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
